header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(../images/pattern.webp);
}
#paragraph{
    font-family: hevetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}
#paragraph2{
    font-family: hevetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}
#paragraph3{
    font-family: hevetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-weight: bold;
}